@model Ch24ShoppingCartMVC.Models.CartViewModel
@{
    ViewBag.Title = "Confirmation";
}
<h2>Confirmation Page</h2>
<p>Thank you for shoppig with us!</p>
<br />
<p>Your Order is Successfully Placed and its currently being processed...!</p>
<br />
<p>You will receive an email containing your order information shortly.</p>
<br />
<p>Thank You</p>
<br />
<p>Have a lovely day!</p>


